<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Developer local-->
    <!--<add name="estay_ecsdbConnectionString" connectionString="Data Source=.;Initial Catalog=estay_ecs1210;User ID=sa;Password=~estay123estay" providerName="System.Data.SqlClient" />-->
    <!--Publish official-->
    <add name="estay_ecsdbConnectionString" connectionString="Data Source=202.104.150.133\MSSQL2012QY,1455;Initial Catalog=estay_ecs1210;User ID=webApplication;Password=~estay123estay" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>

  <!--log4net-->
</configuration>