<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="CRS.Sync.Watcher.Linq.Properties.Settings.estay_ecs_1210ConnectionString" connectionString="Data Source=202.104.149.179\MSSQL2012QY,1455;Initial Catalog=estay_ecs_1210;Persist Security Info=True;User ID=webApplication" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>